:root {
  --primary-white-color: #ffffff;
  --button-blue-color: #4d5ae5;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --accent-focus-color: #404bbf;
  --accent-button-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.logo-studio {
  color: var(--title-text-color);
}

/* Site nav */

.site-nav .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-focus-color);
}

/* Address */

.address {
  font-style: normal;
}

.list .contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-focus-color);
}

/* Hero */

.hero {
  background-color: var(--title-text-color);
}

.hero-title {
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.07;
  color: var(--primary-white-color);
}

.button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: var(--button-blue-color);
  color: var(--primary-white-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-focus-color);
}

/* Section 1 2 3*/

.title-features {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.section-team {
  background-color: var(--accent-button-color);
}

.team-item {
  background-color: var(--primary-white-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.team-field {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
}

.footer-studio {
  color: var(--accent-button-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-button-color);
}

/* Portfolio */

/* Buttons */

.portfolio {
  font-size: 16px;
  line-height: 1.5;
}

.portfolio .button {
  background: var(--accent-button-color);
  color: var(--button-blue-color);
}

.portfolio .button:hover,
.portfolio .button:focus {
  background: var(--accent-focus-color);
  color: var(--accent-button-color);
}

.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.portfolio-text {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}